[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/reveal-hugo"]
	path = themes/reveal-hugo
	url = git@github.com:dzello/reveal-hugo.git
