{{ define "main" }}
<section class="">
  <div class="container">
    <div class="">
        <div class="">
          <article class="">
            <header>
              <h1 class="text-2xl font-serif">{{ .Title }}</h1>
            </header>
            <section class="prose prose-slate prose-p:mb-1 prose-p:font-serif prose-p:font-thin prose-headings:font-serif text-slate-600">
              {{ .Content }}
            </section>
            <footer class="content">
              <p class="italic font-serif">
                Published in
                <time datetime="{{ .PublishDate }}"
                  >{{ .PublishDate.Format "January 2006" }}</time
                >.
              </p>
            </footer>
          </article>
      </div>
    </div>
  </div>
</section>
{{ end }}
