{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="columns">
        <div class="column is-two-thirds">
          <article class="">
            <header>
              <h1 class="title">{{ .Title }}</h1>
            </header>
            <section class="content">
              {{ .Content }}
            </section>
            <footer class="content">
              <p class="is-italic">
                Published in
                <time datetime="{{ .PublishDate }}"
                  >{{ .PublishDate.Format "January 2006" }}</time
                >.
              </p>
            </footer>
          </article>
      </div>
    </div>
  </div>
</section>
{{ end }}
