
<head>
    <meta charset="utf-8">
    {{ $title := print .Title " | " .Site.Title }}
    {{ $description := .Description | default .Site.Params.description }}
    {{ if .IsHome }}
        {{ $title = .Site.Title }}
    {{ end }}
    <title>{{ $title }}</title>
    <meta name="title" content="{{ $title }}">
    <meta name="description" content="{{ $description }}">

    {{- template "_internal/opengraph.html" . -}}
    {{- template "_internal/twitter_cards.html" . -}}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./postcss.config.js") }}
    {{- if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ else }}
    {{- $style := $style | minify | fingerprint | resources.PostProcess -}}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ end -}}

    {{ if and (isset .Site.Params "cookiebotid") (isset .Site.Params "googleanalyticstrackingid") }}
        {{ partial "analytics.html" (dict "cbid" .Site.Params.cookiebotid "gaid" .Site.Params.googleanalyticstrackingid) }}
    {{ end }}
</head>
