
<head>
    <meta charset="utf-8">
    {{ $title := print .Title " | " .Site.Title }}
    {{ $description := .Description | default .Site.Params.description }}
    {{ if .IsHome }}
        {{ $title = .Site.Title }}
    {{ end }}
    <title>{{ $title }}</title>
    <meta name="title" content="{{ $title }}">
    <meta name="description" content="{{ $description }}">

    {{- template "_internal/opengraph.html" . -}}
    {{- template "_internal/twitter_cards.html" . -}}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS |  minify | fingerprint "md5" }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">

    <script src="https://kit.fontawesome.com/{{ .Site.Params.Fontawesome }}.js"></script>

    {{ if and (isset .Site.Params "cookiebotid") (isset .Site.Params "googleanalyticstrackingid") }}
        {{ partial "analytics.html" (dict "cbid" .Site.Params.cookiebotid "gaid" .Site.Params.googleanalyticstrackingid) }}
    {{ end }}
</head>
