{{ define "main" }}
<section class="">
  <div class="container">
    <div class="">
      {{ $posts := where .Site.Pages ".Type" "==" "post" }} {{ if gt (len
      $posts) 0 }} {{ range $posts }}
      <article class="">
        <header>
          <h2 class="text-2xl font-serif">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h2>
        </header>
        <section class="">
          <p class="italic">{{ .Summary }}</p>
        </section>
        <footer>
          <p class="text-xs">
            Published in
            <time datetime="{{ .PublishDate }}"
              >{{ .PublishDate.Format "January 2006" }}</time
            >.
          </p>
        </footer>
      </article>
      {{ end }} {{ end }}
    </div>
  </div>
</section>
{{ end }}
